(
    name: "GitHub Downloader",
    description: "Syntax: ghd <word>",
    query: (
        regex: "^(ghd)\\s.*",
        help: "ghd",
        isolate: true
    ),
    bin: (path: "github-downloader"),
    icon: Name("folder-download-symbolic")
)
